/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  25% {
    opacity: 0;
  }
  40% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes popIn {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-section {
  transform: translateX(100%);
}
.fade-in-section2 {
  opacity: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  overflow-x: hidden;
}

.hero,
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
}
.hero > img {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeIn 2s;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  background: -webkit-linear-gradient(103deg, #8ad1f1, #7a89d8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 1rem;
  text-align: center;
  animation: slideIn 1.5s;
}

.contact-form {
  background-color: rgba(221, 221, 221, 0.46);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 2.5rem;
  max-width: 60%;
  border-radius: 2rem;
  animation: fadeIn2 2.5s;
}

.page-not-found {
  width: 50%;
  animation: popIn 1.5s;
}
.contact-img {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: -3rem;
  z-index: 2;
}
.contact-info {
  display: flex;
  padding: 1em;
}

.contact-left,
.contact-right {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.contact-left h2 {
  margin-bottom: 1em;
  font-weight: 400;
}

.contact-left p {
  font-size: 1.3rem;
  line-height: 2rem;
  color: #666;
  font-weight: 100;
}

.contact-left,
.contact-right {
  justify-content: flex-start;
  padding: 1em;
}
.contact-input,
.contact-submit {
  width: 100%;
  padding: 1.5em 0 1.5em 4em;
  border-radius: 2rem;
  margin: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0;
}

.input-field {
  position: relative;
  display: flex;
  align-items: center;
}
.input-field > span {
  position: absolute;
  left: 2em;
}
.contact-submit {
  background: -webkit-linear-gradient(103deg, #8ad1f1, #7a89d8);
  color: white;
  padding: 1em 2em;
}

/* Main */
.main {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.main-left,
.main-right {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.main-left {
  padding: 2em;
}
.main-subtitle {
  color: #7a89d8;
}

.main-title {
  font-size: 3rem;
  font-weight: bold;
  margin: 1rem 0;
  padding-right: 1em;
}
.main-p {
  color: #333;
  margin: 1rem 0;
}
.main-right {
  position: relative;
}
.main-right > img {
  z-index: 1;
  width: 100%;
}

.gradient {
  position: absolute;
  left: 16.7vw;
  top: 10vh;
  width: 90%;
  height: 70%;
  background-image: linear-gradient(121deg, #7a89d8, #8ad1f1);
}

/* Footer */
footer {
  background-color: rgba(221, 221, 221, 0.46);
  color: #999;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.footer-left,
.footer-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43%;
}
.footer-right * {
  margin-left: 1em;
}

@media (max-width: 550px) {
  html {
    font-size: 11px;
  }
  .hero {
    padding: 3em 0;
  }
  .hero > img {
    width: 40%;
  }
  .title {
    text-align: center;
    font-size: 2.5rem;
  }
  .contact-form {
    padding: 1rem 1.5rem;
    max-width: 80%;
  }
  .contact-info {
    flex-direction: column;
  }
  .contact-form > img {
    width: 70%;
    margin-top: -20%;
  }
  .contact-left,
  .contact-right {
    width: 100%;
  }
  .contact-left,
  .contact-right {
    justify-content: center;
  }
  .contact-input,
  .contact-submit {
    width: 100%;
    padding: 1.5em 3em;
    border-radius: 2rem;
    margin: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 0;
  }
  .contact-submit {
    background: -webkit-linear-gradient(103deg, #7a89d8, #8ad1f1);
    color: white;
    padding: 1em 1em;
  }
  .main {
    flex-direction: column-reverse;
    padding: 0;
  }
  .main-left,
  .main-right {
    width: 100%;
  }
  .main-left {
    padding: 2em;
  }
  .main-right > img {
    width: 100%;
  }

  .gradient {
    left: 10em;
    top: 3em;
    width: 80%;
    height: 80%;
    background-image: linear-gradient(121deg, #7a89d8, #8ad1f1);
  }
  footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-left,
  .footer-right {
    width: 100%;
  }
}

@media (max-width: 850px) and (min-width: 550px) {
  html {
    font-size: 12px;
  }
  .contact-form {
    max-width: 70%;
  }
  .main-title {
    font-size: 2.5rem;
    padding: 0;
  }
}
